[submodule ".ai-coding-config"]
	path = .ai-coding-config
	url = https://github.com/Light-Brands/ai-coding-config.git
[submodule ".bmad-method"]
	path = .bmad-method
	url = https://github.com/Light-Brands/bmad-method.git
